* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #333;
  background: #fff;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 100px;
  grid-row-gap: 30px;
  margin-top: 20px;
  height: 400px;
  margin-left: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 45%;
}

footer button {
  font-size: 1rem;
  text-decoration: underline;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 5px;
  background-color: transparent;
}
