* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Navbar {
  height: 8vh;
  background-color: #ffcf66;
  color: rgb(0, 0, 0);
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  align-items: center;
  box-shadow: grey 10px 10px 20px 1px;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Nova Slim", cursive;
}

.nav_links {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 10px;
  margin-right: 100px;
}

.nav_link {
  font-size: 28px;
  font-weight: 800;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding-right: 40px;
  font-family: Arial, Helvetica, sans-serif;
  border: #ffcf66 solid 1px;
}
